{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">

        <li><a href="https://www.kaggle.com/dferhadi" target=_blank><img src="{% static 'images/Kaggle_logo.png' %}" alt="..."></a></li>

        <li><a href="https://github.com/danerf" target=_blank><img src="{% static 'images/insta.JPG' %}" alt="..."></a></li>

        <li><a href="https://www.linkedin.com/in/dferhadi/" target=_blank><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} This website was coded using Django, the Python-based free and open-source web framework. It is hosted on a Python Anywhere Server. Designed and deployed by <a href="https://dferha2.pythonanywhere.com/">Daner Ferhadi.</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->