{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<!--banner -->

 <style>

 :root {
  --primaryColor: #150183;
  --primaryDarkColor: #3D0048;
  --primaryHoverColor: #5e5d9e;
  --secondaryColor: #F9B000;
  --baseColor: #212a44;
  --baseFont: 'Heebo', sans-serif;
  --titleFont: 'Courier Prime', monospace;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  --lightBg: #212a44;
  --lightblau: #7585cc;
  --lightGold: #ccbf75;












}
 </style>


<section>
  <div class="bannerSection">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">


        <div class="col-md-auto order-md-last">
          <div class="bannerUserImg">
            <img src="{% static 'images/Utah.JPG' %}">
          </div>
        <br>
          <div class="bannerUserImg">
            <img src="{% static 'images/Kstan  Daner.jpg' %}">
          </div>
        <br>
          <div class="bannerUserImg">
            <img src="{% static 'images/Sad Tree Me.jpg' %}">
          </div>


        </div>








        <div class="col-md">


          <div class="bannerContent">
          <div class="bannerContent">
            <h4 class="text-uppercase">My Story</h4>
            <br>
            <p class="fz-16">

              In 1996, my family emigrated to the United States. On the airplane, I turned 6 years old. My birthday gift was landing in a whole new world. Overcoming adversity with resolve, we prospered towards the American Dream; becoming citizens in 2006.
           </p>
           <p class="fz-16">
            In 2012, my parents moved back to the Kurdistan Region of Iraq to retire. This was a time of peace in the Kurdistan Region, before ISIS. Three years later, after completing my degree in mathematics in the US, and amidst the invasion of ISIS, I decided to move back and support my younger siblings and my parents. Approximately 40 kilometers away from the frontline of the war, I was hired to be a <a href="https://auk.edu.krd/our_team/daner-ferhadi-msc/" target=_blank style="color:	#0645AD;">Data Analyst for the American University of Kurdistan</a> in Duhok, Iraq.
          </p>
           <p class="fz-16">
            There, I began nurturing a passion for building databases from scratch and automating tasks around the office; working to streamline processes across several departments including the Registrar, Office of Finance, Academic Departments and Colleges, and the Human Resources Department. At AUK, I designed, built, and deployed an enrollment forecasting system and online course registration system (in-house) which enabled the university to operate more efficiently, automating hundreds of man-hours per semester and saving costs equivalent to 30% of tuition revenue in a single year. Currently working remotely, testing and deploying a University Management System complete with Enterprise Resource Planning (ERP) software and a Student Information System (SIS).
           </p>
           <p class="fz-16">
             In 2021, I moved to the Netherlands to be with my wife (Darstan). Here, I started a business intelligence and data analytics consulting company, Ferhadi Analytics. In doing so, I have invoked the Dutch-American Friendship Treaty and am now a resident of the Netherlands. I look forward to what the future will bring.
           </p>

          </div>
        </div>
















      </div>
    </div>
  </div>
</section>



<!-- Start timeline Area -->
<section class="timeline lightBg pb-80">
  <br>
  <div class="container">
    <div class="row align-items-center justify-content-between personal-details">
        <div class="menu-content pb-40">
            <div class="row align-items-center justify-content-between personal-details">
                <h4 class="text-uppercase"></h4>
            </div>
        </div>
    </div>
  <ul>


    <li>
      <div class="content">
        <h4>
          <time>Kindergarten - 12th Grade</time>
        </h4>
        <p><b>United States of America 1996 - 2008</b></p>
        <p>Mountain View Elementary</p>
        <p>West Frederick Middle School</p>
        <p>Tuscarora High School</p>
      </div>
    </li>


    <li>
    <div class="content">
      <h4>
        <time>Bachelor of Science in Mathematics</time>
      </h4>
      <p><b>Pennsylvania State University 2013</b></p>
      <p><b>University Park, PA, USA</b></p>
      <p><b>Area of Application:</b> Nuclear Engineering</p>
    </div>
  </li>








  <li>
    <div class="content">
      <h4>
        <time>Data Analysis Intern</time>
      </h4>
      <p><b>Robert Half Finance and Accounting</b></p>
      <p><b>Baltimore, MD, USA</b></p>
      <p>December 2014 - May 2015</p>
    </div>
  </li>


  <li>
    <div class="content">
      <h4>
        <time>Master of Science in Mathematics</time>
      </h4>
      <p><b>University of Nottingham 2017</b></p>
      <p><b>University Park, Nottingham, UK</b></p>
      <p><b>Thesis:</b> Computational Methods for Evaluating the Riemann-Zeta Function using Python</p>
    </div>
  </li>

  <li>
    <div class="content">
      <h4>
        <time>Data Analyst</time>
      </h4>
      <p><b>American University of Kurdistan</b></p>
      <p><b>Remote as of 2020</b></p>
      <p>May 2015 - Present</p>
    </div>
    </li>

  <br>
  </ul>
</div>
</section>
<br>


<!-- End timeline Area -->

</div>






<!-- start faqs here -->

<div class="container">


  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .accordion {
      background-color: rgb(184, 131, 17);
      color: #212a44;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #212a44;
      color:  rgb(252, 252, 252);
    }

    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }





/* banner section */
.bannerSection {
	padding: 110px 0 60px;
}
.bannerUserImg {
  margin-left: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}
.bannerUserImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.bannerUserImg::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 20px;
  width: 0%;
  height: 0%;
  background-color: #ca980d;
  border-radius: 50%;
}

























    </style>
    </head>
    <body>

    <h4 class="text-uppercase">Frequently Asked Questions</h4>
    <br>
    <br>

    <button class="accordion"><b>Why did you create this website?</b></button>
    <div class="panel">
      <br>
      <p>I created this website from scratch using Django (Python), HTML, and Javascript. I then deployed it on a private server using Python Anywhere. I did this so that I can learn more about front-end and back-end development. I believe knowledge and expertise in developing and deploying apps will be essential in data science in the years to come.</p>
      <br>
    </div>

    <button class="accordion"><b>Do you have experience with databases?</b></button>
    <div class="panel">
      <br>
      <p>I have hosted and deployed my own Postgre SQL database with this website. I have an intermediate knowledge of SQL queries and have experience building databases from scratch.</p>
      <br>
    </div>

    <button class="accordion"><b>Do you have experience with Python?</b></button>
    <div class="panel">
      <br>
      <p>For my masters thesis, I showed why the most powerful computational method for evaluating the Riemann Zeta Function (from the open problem: The Riemann Hypothesis) is only a good approximation given a specific domain, to do this I used Python and matplotlib. Furthermore, I have completed several Kaggle projects utilizing ML algorithms and python. I also used python to build this website. Another example is an optimization problem for student enrollment whereby a random-greedy algorithm was written using python. These projects can be found in my portfolio.</p>
      <br>
    </div>

    <button class="accordion"><b>What kinds of opportunities are you interested in?</b></button>
    <div class="panel">
      <br>
      <p>I prefer that my next position be permanent. My wife and I have settled in the Netherlands, this is where she was born and raised and I have now made it my home. Although I have founded a company here in the Netherlands, my heart lies with engineering and analytics, not with freelance. I welcome opportunies where I can develop expertise in the areas of data science and engineering, whilst streamlining business models to build value within the organization. I would like to develop and deploy machine learning models, build data pipelines, build analytics applications, and use my expertise in mathematics and passion for computer science to make businesses run more efficiently. I especially welcome the opportunity to work with Big Data.</p>
      <br>
    </div>

    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
    </script>

    </body>












</div>








{% endblock %}

