{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>


        <div class="sectionSpaceSm">
          <div class="container">
            <br>
            <br>

            <h4 class="text-uppercase">AUK Soccer Tournaments</h4>


            <p class="fz-16">
            <br>
              For four consecutive years, I was the lead organizer of the American University of Kurdistan Intramural and Intercollegiate Soccer Tournaments. From scheduling, to booking the stadium and even procuring an outside sponsor to fund the costs of the tournament. I even recorded and published tournament data on campus to encourage spectators from the student body. See below for some pictures. Notice how there are male and female students in the crowd watching the games. This was inspiring to see, given how the region is conservative and female students don't usually go out to sporting events. We encouraged the launch of a female tournament but we didn't have enough students who wanted to play.
            </p>


         </div>
        </div>


          <div class="container lightBg">
            <br>

            <iframe src="https://aukurd-my.sharepoint.com/personal/daner_ferhadi_auk_edu_krd/_layouts/15/Doc.aspx?sourcedoc={8ae6b236-acea-4053-a7ab-c3376668802b}&amp;action=embedview&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="850px" height="600px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>


            <br>
          </div>







</section>






{%endblock%}
