
  
  <!-- Mathematics ...Individual pages need content revision -->
  <section class="recent-blog-area section-gap">
    <div class="sectionSpace lightDz">
      <div class="container">
        <div class="row justify-content-left">
          <div class="bannerContent">
            <div class="row align-items-center justify-content-between personal-details">
              <h4 class="text-uppercase">Mathematics</h4>
              <br>
  
        
              <!-- Code for about me button ...  <a href="about" class="primary-btn text-uppercase">About me</a> -->
        
          </div>
          </div>
        </div>
        <div class="row">
  
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <br>
              <a href="/portfolio/student-enrollment-dashboards" target="_blank">
  
                <div class="w3-hover-opacity">
                  <img src="/media/media/Combinatorics1_MUMENnK.jpg" alt="This zooms-in really well and smooth" >
                </div>
            </a>
  
            </div>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
  
              <div class="meta">
                <br>
                Dec 20, 2020
              </div>
  
            </div>
            <a href="/portfolio/student-enrollment-dashboards" target="_blank">
  
              <h5>Stochastic Optimization</h5>
            </a>
            <p>
              In this project, a python script is written to implement a randomized-greedy algorithm to solve an enrollment forecasting problem.
            </p>
          </div>
    
  
  
  
  
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <br>
              <a href="/portfolio/feedback-survey-dashboard" target="_blank">
  
                <div class="w3-hover-opacity">
                  <img src="/media/media/RiemannZeta1_ZMgA9lv.png" alt="This zooms-in really well and smooth" >
                </div>
            </a>
  
            </div>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
  
              <div class="meta">
                <br>
                Jan 20, 2020
              </div>
  
            </div>
            <a href="/portfolio/feedback-survey-dashboard" target="_blank">
  
              <h5>Prime Numbers: Encryption and the Million-Dollar Unsolved Millenium Problem</h5>
            </a>
            <p>
              Computational Methods for evaluating the Riemann Zeta function
            </p>
          </div>
  
  
  
  
  
  
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <br>
              <a href="/portfolio/university-transcript-system-using-vba" target="_blank">
  
                <div class="w3-hover-opacity">
                  <img src="/media/media/nvectors2_v7YSecO.png" alt="This zooms-in really well and smooth" >
                </div>
            </a>
  
            </div>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
  
              <div class="meta">
                <br>
                Jan 20, 2022
              </div>
  
            </div>
            <a href="/portfolio/university-transcript-system-using-vba" target="_blank">
  
              <h5>Rotations in Space: Vector Algebra vs Geometric Algebra</h5>
            </a>
            <p>
              An overview of representing rotations in 3D using vectors, bivectors, and trivectors.
            </p>
          </div>
  
  
  
  
  
        </div>
      </div>
    </div>
  </section>
    <!-- end Mathematics Area -->
    
    
    
    
      
  <!-- Start Data Analysis Area -->
  <section class="recent-blog-area section-gap">
    <div class="sectionSpace lightBg">
      <div class="container">
        <div class="row justify-content-left">
          <div class="bannerContent">
            <div class="row align-items-center justify-content-between personal-details">
              <h4 class="text-uppercase">Data Analysis and Automated Reports</h4>
              <br>
  
        
              <!-- Code for about me button ...  <a href="about" class="primary-btn text-uppercase">About me</a> -->
        
          </div>
          </div>
        </div>
        <div class="row">
    
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <br>
              <a href="/portfolio/student-enrollment-dashboards" target="_blank">
  
                <div class="w3-hover-opacity">
                  <img src="/media/media/EnrollmentTrends_u2jcZnD.JPG" alt="This zooms-in really well and smooth" >
                </div>
            </a>
  
            </div>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
  
              <div class="meta">
                <br>
                Jan 20, 2020
              </div>
  
            </div>
            <a href="/portfolio/student-enrollment-dashboards" target="_blank">
  
              <h5>Student Enrollment Trends Dashboard </h5>
            </a>
            <p>
              Example of a Power BI dashboard which I built to show enrollment trends for a university over time.
            </p>
          </div>
    
  
  
  
  
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <br>
              <a href="/portfolio/feedback-survey-dashboard" target="_blank">
  
                <div class="w3-hover-opacity">
                  <img src="/media/media/RiemannZeta1_ZMgA9lv.png" alt="This zooms-in really well and smooth" >
                </div>
            </a>
  
            </div>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
  
              <div class="meta">
                <br>
                Jan 20, 2020
              </div>
  
            </div>
            <a href="/portfolio/feedback-survey-dashboard" target="_blank">
  
              <h5>Millenium Unsolved Problem, Prime Numbers, and Encryption </h5>
            </a>
            <p>
              Computational Methods for evaluating the Riemann Zeta function
            </p>
          </div>
  
  
  
  
  
  
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <br>
              <a href="/portfolio/university-transcript-system-using-vba" target="_blank">
  
                <div class="w3-hover-opacity">
                  <img src="/media/media/Transcript2_MfHCdx6.jpg" alt="This zooms-in really well and smooth" >
                </div>
            </a>
  
            </div>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
  
              <div class="meta">
                <br>
                Jan 20, 2020
              </div>
  
            </div>
            <a href="/portfolio/university-transcript-system-using-vba" target="_blank">
  
              <h5>University Transcript System</h5>
            </a>
            <p>
              A fully functional university transcript system using VBA.
            </p>
          </div>
  
  
  
  
  
        </div>
      </div>
    </div>
  </section>
    <!-- end recent-blog Area -->
    
  
  
  
  
    
    <!-- Machine Learning ...Individual pages need content revision -->
    <section class="recent-blog-area section-gap">
      <div class="sectionSpace lightDz">
        <div class="container">
          <div class="row justify-content-left">
            <div class="bannerContent">
              <div class="row align-items-center justify-content-between personal-details">
                <h4 class="text-uppercase">Machine Learning and Optimization</h4>
                <br>
    
          
                <!-- Code for about me button ...  <a href="about" class="primary-btn text-uppercase">About me</a> -->
          
            </div>
            </div>
          </div>
          <div class="row">
    
            <div class="single-recent-blog col-lg-4 col-md-4">
              <div class="thumb">
                <br>
                <a href="/portfolio/student-enrollment-dashboards" target="_blank">
    
                  <div class="w3-hover-opacity">
                    <img src="/media/media/Combinatorics1_MUMENnK.jpg" alt="This zooms-in really well and smooth" >
                  </div>
              </a>
    
              </div>
              <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
    
                <div class="meta">
                  <br>
                  Dec 20, 2020
                </div>
    
              </div>
              <a href="/portfolio/student-enrollment-dashboards" target="_blank">
    
                <h5>Stochastic Optimization</h5>
              </a>
              <p>
                In this project, a python script is written to implement a randomized-greedy algorithm to solve an enrollment forecasting problem.
              </p>
            </div>
      
    
    
    
    
            <div class="single-recent-blog col-lg-4 col-md-4">
              <div class="thumb">
                <br>
                <a href="/portfolio/feedback-survey-dashboard" target="_blank">
    
                  <div class="w3-hover-opacity">
                    <img src="/media/media/RiemannZeta1_ZMgA9lv.png" alt="This zooms-in really well and smooth" >
                  </div>
              </a>
    
              </div>
              <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
    
                <div class="meta">
                  <br>
                  Jan 20, 2020
                </div>
    
              </div>
              <a href="/portfolio/feedback-survey-dashboard" target="_blank">
    
                <h5>Millenium Unsolved Problem, Prime Numbers, and Encryption </h5>
              </a>
              <p>
                Computational Methods for evaluating the Riemann Zeta function
              </p>
            </div>
    
    
    
    
    
    
            <div class="single-recent-blog col-lg-4 col-md-4">
              <div class="thumb">
                <br>
                <a href="/portfolio/university-transcript-system-using-vba" target="_blank">
    
                  <div class="w3-hover-opacity">
                    <img src="/media/media/nvectors2_v7YSecO.png" alt="This zooms-in really well and smooth" >
                  </div>
              </a>
    
              </div>
              <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
    
                <div class="meta">
                  <br>
                  Jan 20, 2022
                </div>
    
              </div>
              <a href="/portfolio/university-transcript-system-using-vba" target="_blank">
    
                <h5>Rotations in Space: Vector Algebra vs Geometric Algebra</h5>
              </a>
              <p>
                An overview of representing rotations in 3D using vectors, bivectors, and trivectors.
              </p>
            </div>
    
    
    
    
    
          </div>
        </div>
      </div>
    </section>
      <!-- end Mathematics Area -->
      
      